<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>loDial</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>

  <header>
    <div class="left-border">
      <h1 class="dial">lo</h1>
    </div>
    <div class="right-border">
      <h1 class="low">Dial</h1>
    </div>
  </header>

  <div class="login-div">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Email</label>
                <input id="name" type="text" placeholder="Email">
            </div>

            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password">
            </div>

                <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>

    </div>
  </body>
</html>
