<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dialLow</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/promo-dashboard.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>

    <header class="listen-header">
      <h2 class="dial-low"><a href="#">DiaLow</a></h2>
    </header>

    <div class="promo-dash-div">

      <div class="promo-artists">
        <h2 class="promo-contacts-h2">Artists</h2>

      <div class="promo-artist-div pure-menu pure-menu-scrollable custom-restricted">
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 1</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 2</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 3</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 4</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 5</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 6</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
          </ul>
      </div>
      </div>
      <div class="promo-contacts">
        <h2 class="promo-contacts-h2">My Contacts</h2>

      <div class="promo-contacts-div pure-menu pure-menu-scrollable custom-restricted">
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 1</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 2</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 3</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 4</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 5</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 6</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
